name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check g++ installation
      run: which g++
    - name: Check g++ installation
      run: g++ --version
    - name: Check cmake installation
      run: which cmake
    - name: Check cmake installation
      run: cmake --version
    - name: Install Cmake
      run: |
        sudo apt update 
        sudo apt install build-essential
        sudo apt install cmake
    - name: Check g++ installation
      run: which g++
    - name: Check g++ installation
      run: g++ --version
    - name: Check cmake installation
      run: which cmake
    - name: Check cmake installation
      run: cmake --version
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build Trial
      run: |
        ls scripts/ 
        chmod +x scripts/
        ./scripts/build.sh
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build and Run
      run: |
        ls scripts/ 
        chmod +x scripts/
        ./scripts/buildRun.sh