name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Check g++ installation
      run: which g++
    - name: Check g++ installation
      run: g++ --version
    - name: Install Build Essential
      run: |
        sudo apt update
        sudo apt install build-essential
    - name: Check g++ installation
      run: which g++
    - name: Check g++ installation
      run: g++ --version  
    - name : build
      run : cd src; g++ *.cpp -o cpptrials
    - name : run
      run : cd src; cpptrials
